@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1410929872_263347.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1410929872_263347.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1410929872_263347.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1410929872_263347.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1410929872_263347.svg#iconfont') format('svg'); /* iOS 4.1- */
}
html { -webkit-font-smoothing: antialiased; }
html,body { min-height:100%; }
body, h1, h2, h3, h4, p { margin:0; padding:0; }
body { font:12px/1.6 Corbel, "Helvetica Neue", Helvetica, Arial; color: #1F170E; }
h1, h2, h3, h4 { font-size:100%; font-weight:normal; }
ul,ol { list-style: none; }
a { text-decoration:none; }
a:hover {text-decoration:underline; }
img { vertical-align:top; }
code { border:solid 1px #ddd; background:#F9F9F9; padding:2px 5px; margin:0 1px; border-radius:3px; font-family: Corbel, "Helvetica Neue", Helvetica, Arial; }
video { border: 1px solid black;  background-color: black; }
button, input { margin:0; }
.clear:after { height: 0; display: block; content: "\200B"; clear: both;  }
.clear { *zoom: 1; }
.font {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.33;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn_success {
    background-image: linear-gradient(#5cb85c, #419641);
    border-color: #3e8f3e;
    color: #fff;
}
.btn_success:hover {
    background-image: -webkit-linear-gradient(#419641, #358a35);
    background-image: -o-linear-gradient(#419641, #358a35);
    background-image: linear-gradient(#419641, #358a35);
}
.btn_normal {
    background-image: linear-gradient(#f8f8f8, #eeeeee);
    border-color:#ddd #ddd #bbb #ddd;
    color: #333;
}
.btn_normal:hover {
    background-image: linear-gradient(#f2f2f2, #e6e6e6);
}

/**/
.wrap { position: relative; width: 100%; height: 100%; overflow: hidden; }
.sidebar { position: fixed; left: 0; left: 0; width: 220px; min-height:100%; color:#8C9198; background:#3E4145; }
.site_title { padding-bottom:25px; text-align: center; border-bottom:solid 1px #666; }
.site_logo { margin:0; padding:30px 0 0;  }
.site_summary { font-size: 12px; color: #8C9198; }
/**/
.nav { padding:20px 0 0 0; }
.nav a { display:block; }
.nav_main a { color:#ccc; }
.nav ul { list-style:none; padding:0; }
.nav li.current { background:rgba(202,22,35,1); }
.nav li { padding:4px 20px; font-size:14px; }
.nav_tool { margin-top:40px; }
.nav_tool a { color:#aaa; }
.nav_ico { display:inline-block; width:18px; text-align:left; font-size:16px; }
/**/
.side { margin:20px 20px 0 240px; position:relative; }
.side img { background:url("images/loading.gif") no-repeat center center; }
.side_hd { overflow:hidden; zoom:1; background:#eee; margin-bottom:10px;  padding:8px 10px;}
.search { float:right; position:relative; }
.search_ico { position:absolute; left:7px; top:3px; font-size:18px; color:#A7A7A7; }
.search_input { width:220px; padding:6px 5px 6px 30px; line-height:20px; color:#3d464d; font-size:14px;   border:1px solid #bfbfbf; background:#fff; }
.return { float:left; font-size:21px; color:#666; }
.return:hover { text-decoration:none; }
.main { min-height:500px; }
.goods_list { padding:0; margin:0; }
.goods_item { position:relative; width:240px; float:left; margin:10px 10px 15px;  }
.goods_item a { color:#999; }
.goods_pic { position:relative; width:240px; height:360px; z-index:1; }
.goods_info { position:absolute; left:0; right:0; bottom:0; padding:8px 10px; line-height:20px; font-size:12px;  background:rgba(0,0,0,0.7); }
.goods_name { height:20px; overflow:hidden; padding:5px 0; font-size:14px; color:#333; }
.goods_command { display:none; position:absolute; top:0; right:0; z-index:2; background:rgba(255,255,255,0.4); }
.goods_command a { padding:2px 5px; color:#333; font-size:16px; }
.goods_command a:hover { color:rgba(202,22,35,1); text-decoration:none; }
.goods_edit { margin-right:5px; }
.goods_item.current .goods_command { display:block; }
/*导航按钮*/
.page_navgation { padding:20px 0 30px; text-align:center; font-size:0; }
.page_navgation a { display:inline-block; margin:0 2px; padding:5px 12px; border:solid 1px #ddd; font-size:12px; color:#333; text-decoration:underline; }
.page_navgation a:hover { background:rgba(0,0,0,0.1); border:solid 1px rgba(0,0,0,0.1); text-decoration:none; }
.page_navgation a.current { color:#fff; background:rgba(202,22,35,1); border:solid 1px rgba(202,22,35,1); text-decoration:none; }
.page_navgation a.current { cursor:default; }
/**/
.footer { text-align: center; color: #666; padding: 5px 0 30px; }
/**/
.module p { margin:10px 0; font-size:14px; }
.module_hd { padding:0 0 15px; }
.module_hd h1 { max-width:750px; font:bold 2.5em/1.8 "Corbel","Microsoft Yahei"; border-bottom:solid 1px #ccc; }
/**/
.module_form { font-size:14px; }
.module_form label { cursor:pointer; }
.module_form input[type="radio"] { vertical-align:-2px; }
.module_form td { padding:2px 0; line-height:2.0; }
.module_tip { color:#bbb; }
.create_name { width: 150px; vertical-align:top; text-align:right; }
.create_text { height:21px; line-height:21px; color:#3d464d; background:#fff; font-size:14px; padding:6px 5px; border:1px solid #bfbfbf; border-radius:2px; }
.create_textarea { width:420px; height:80px; }
.create_text:focus { border:solid 1px #07d; }
.img_preview { width:240px; height:135px; border:solid 1px #ddd; margin:5px 0; }
.img_preview:hover { border:solid 1px #ccc; }
/**/
.page_summary { max-width: 750px; /*padding:0 10px; border:1px solid #999; background:#ffe; color:#2b2b2b;*/ }
.page_summary p { /*text-indent:2em;*/ }
.page_bar { padding:10px 0; font-size:12px; color:#666; }
.page_video { padding:10px 0; color:#666; }
.page_video video { width: 560px; height: 315px; }